extends layout
block content
    .doc_detail
        img(src="/images/ben.png", alt="Ben Burwell", style="float:left;margin-right:1em;margin-bottom:1em;")
        h2 About Me
        p I am a web designer and developer in Allentown, PA. I am a junior at Muhlenberg College pursuing a BS in Computer Science with a minor in Mathematics. I like to make things easier and better for people.
        p To see some of the things I’ve done, take a look at my <a href="/resume/">résumé (PDF)</a> or my <a href="/projects/">projects</a>. You can also <a href="https://github.com/bburwell">find me on Github</a>. I am available for freelance work on a limited basis, so if you’re interested in hiring me for your project, feel free to get in touch at <a href="mailto:ben@benburwell.com">ben@benburwell.com</a>.
        h2 About This Site
        p Hand coded with love using <a href="http://nodejs.org">Node.js</a>. Content is written in the Markdown format and translated to HTML using <a href="https://github.com/chjj/marked">marked</a>. I’m using Ethan Schoonover’s <a href="http://ethanschoonover.com/solarized">Solarized</a> color palette. Set in Myriad Pro using <a href="http://typekit.com">Typekit</a>.
