extends layout
block content
    .doc_detail
        img(src="/images/ben.png", alt="Ben Burwell", style="float:left;margin:1em;")
        h2 About Me
        p I am a freelance web designer and developer in Allentown, PA and Hopewell, NJ. I am a sophomore at Muhlenberg College pursuing a degree in Computer Science. I like to make things easier and better for people.
        p To see some of the things I’ve done, take a look at my <a href="/resume/">résumé</a> (PDF). If you are interested in working with me on your project, feel free to get in touch with me at ben@benburwell.com.
        h2 About This Site
        p Hand coded with love by Ben Burwell using <a href="http://nodejs.org">Node.js</a>. Content is written in the Markdown format and translated to HTML using <a href="https://github.com/chjj/marked">marked</a>. Color scheme is Ethan Schoonover’s <a href="http://ethanschoonover.com/solarized">Solarized</a> palette. Set in Myriad Pro using <a href="http://typekit.com">Typekit</a>.
