extends layout
block content
    .doc_detail
        h1 Well, this is embarassing.
        p Either I screwed up and linked you to a page that doesn’t exist (silly me!), or you went looking for something that I never made (silly me — I should have made it!).
        p Sorry about that!
