extends layout
block content
    p
        img(src='/images/ben_circle.png', style='padding-top:1em;')
    h1 Ben Burwell
    p.about I am a junior at Muhlenberg College in Allentown, PA pursuing a B.S. in Computer Science with a minor in Mathematics. I like to make things easier and better for people. I’m available for freelance work on a limited basis, so if you’re interested in hiring me for your project, please <a href="mailto:hi@benburwell.com">get in touch</a>.