extends layout
block content
    .about.grid_10.push_1
        p
            img(src='/images/ben_circle.png', style='padding-top:1em;')
        h1 Ben Burwell
        p I attend Muhlenberg College in Allentown, Pennsylvania where I am pursuing a B.S. in Computer Science with a minor in Mathematics. I’m available for <a href="/resume/">freelance work</a> on a limited basis; if you’re interested in hiring me for your project, please <a href="mailto:hi@benburwell.com">get in touch</a>.