extends layout
block content
    //- h1 Hi, there!
    h2 Hi, my name is <b>Ben Burwell</b>. I craft beautiful things with code.

    ul.main_selection_menu
        li.projects
            a(href="/projects/") Projects
        li.writing
            a(href="/writing/") Writing
        li.github
            a(href="https://github.com/bburwell", target="_blank") GitHub
        li.resume
            a(href="/resume/") Résumé

    p I am a web designer and developer studying computer science at 
        | Muhlenberg College in 
        | Allentown, Pennsylvania. In my free time, I volunteer as an 
        | Emergency Medical Technician, do theatrical lighting 
        | design, and work as an electrician and sound tech. 
    p I create beautiful software to make things easier and better for 
        | people.

    ul.social_media_links
        li.twitter
            a(href="https://twitter.com/bburwell")
        li.gplus
            a(href="https://plus.google.com/+BenBurwell")
        li.email
            a(href="mailto:ben@benburwell.com")
