extends layout

block content
    .home
        h1 Hi, there!
        h2 My name is <b>Ben Burwell</b>. I craft beautiful things with code.

        ul.main_selection_menu
            li.projects
                a(href="/projects/") Projects
            li.writing
                a(href="/writing/") Writing
            li.github
                a(href="https://github.com/bburwell") GitHub
            li.resume
                a(href="/resume/") Résumé

        p I am a web designer and developer studying computer science at 
            | <a href="http://www.muhlenberg.edu/">Muhlenberg College</a> in
            | Allentown, Pennsylvania. I am also a volunteer Emergency Medical
            | Technician at the <a href="http://penningtonfirstaid.org">Pennington
            | First Aid Squad</a> and a Lieutenant at
            | <a href="http://www.bergems.org/">Muhlenberg College EMS</a>.
        p I create beautiful software to make things easier and better for
         | people.
