doctype 5
html
    head
        title= title || 'Ben Burwell'
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
        footer
            p Copyright &copy; Ben Burwell.
