doctype 5
html
    head
        title= title || 'Ben Burwell'
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon', href='/images/icons/favicon.ico', sizes="128x128")
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-57x57.png', sizes='57x57')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-72x72.png', sizes='72x72')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-76x76.png', sizes='76x76')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-114x114.png', sizes='114x114')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-120x120.png', sizes='120x120')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-144x144.png', sizes='144x144')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-152x152.png', sizes='152x152')
        meta(name='author', content='Ben Burwell')
        meta(name='description', content='Computer science student, hacker. Passionate about kerning & coffee.')
        meta(name='keywords', content='ben burwell, designer, freelance, developer, programming')
        script(async, src='//code.jquery.com/jquery-1.10.2.min.js', type='text/javascript')
        script(type='text/javascript', src='//use.typekit.net/xgd2xxh.js')
        script(type='text/javascript').
            try{Typekit.load();}catch(e){}
        block css
        block javascripts
    body(class=body_class ? body_class : undefined)
        .container_12
            header.top_nav_bar
                    .grid_3
                        .projects
                            a(href='/projects/') Projects
                    .grid_3
                        .writing
                            a(href='/writing/') Writing
                    .grid_3
                        .github
                            a(href='https://github.com/benburwell', target='_blank') GitHub
                    .grid_3
                        .resume
                            a(href='/resume/') Résumé
            main.grid_12
                block content
            footer.grid_12
                    p
                        a(href='/') about
                        |  &bull; 
                        a(href='https://twitter.com/bburwell') twitter
                        |  &bull; 
                        a(href='mailto:hi@benburwell.com') email
