doctype 5
html
    head
        title= title || 'Ben Burwell'
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon', href='/images/icons/favicon.ico', sizes="128x128")
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-57x57.png', sizes='57x57')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-72x72.png', sizes='72x72')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-76x76.png', sizes='76x76')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-114x114.png', sizes='114x114')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-120x120.png', sizes='120x120')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-144x144.png', sizes='144x144')
        link(rel='apple-touch-icon', href='/images/icons/apple/apple-touch-icon-152x152.png', sizes='152x152')
        meta(name='author', content='Ben Burwell')
        meta(name='description', content='Computer science student, hacker. Passionate about kerning & coffee.')
        meta(name='keywords', content='ben burwell, designer, freelance, developer, programming')
        meta(name='viewport', content='width="device-width",initial-scale=1,user-scalable=no')
        script(type='text/javascript').
            (function() {
                var config = {
                    kitId: 'xgd2xxh'
                };
                var d = false;
                var tk = document.createElement('script');
                tk.src = '//use.typekit.net/' + config.kitId + '.js';
                tk.type = 'text/javascript';
                tk.async = 'true';
                tk.onload = tk.onreadystatechange = function() {
                    var rs = this.readyState;
                    if (d || rs && rs != 'complete' && rs != 'loaded') return;
                    d = true;
                    try { Typekit.load(config); } catch (e) {}
                };
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(tk, s);
            })();
        block css
        block javascripts
    body(class=body_class ? body_class : undefined)
        .container_12
            header.top_nav_bar
                    .grid_3
                        .projects
                            a(href='/projects/') Projects
                    .grid_3
                        .writing
                            a(href='/writing/') Writing
                    .grid_3
                        .github
                            a(href='https://github.com/benburwell', target='_blank') GitHub
                    .grid_3
                        .resume
                            a(href='/resume/') Résumé
            main.grid_12
                block content
            footer.grid_12
                    p
                        a(href='/') about
                        |  &bull; 
                        a(href='https://twitter.com/bburwell') twitter
                        |  &bull; 
                        a(href='mailto:hi@benburwell.com') email
