@block-width: 200px;
@block-height: 7em;

@num-social-icons: 3;
@social-icon-dim: 64px;

.home {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
        font-weight: 300;
    }

    p {
        line-height: 1.4em;
        margin-bottom: 1em;
    }

    ul.main_selection_menu {
        position: relative;
        height: @block-height;
        
        li {
            display: block;
            position: absolute;
            top: 0;
            width: @block-width;

            a {
                font-size: 1.5em;
                font-weight: bold;
                color: rgb(255, 255, 255);
                text-decoration: none;
                display: block;
                width: @block-width - 20px;
                margin: 10px;
                text-align: center;
                padding-top: 1em;
                padding-bottom: 1em;
            }

        }

        .projects {
            left: @block-width * 0;
            a {
                .nav_button(@green);
            }
        }

        .writing {
            left: @block-width * 1;
            a {
                .nav_button(@orange);
            }
        }

        .github {
            left: @block-width * 2;
            a {
                .nav_button(@blue);
            }
        }

        .resume {
            left: @block-width * 3;
            a {
                .nav_button(@magenta);
            }
        }
    }

    ul.social_media_links {

        width: @num-social-icons * @social-icon-dim * 1.5 - @social-icon-dim / 2;
        height: @social-icon-dim;
        margin-right: auto;
        margin-left: auto;

        position: relative;

        li {
            
            position: absolute;
            display: block;
            top: 0;
            width: @social-icon-dim;
            height: @social-icon-dim;
            background: url(/images/sprites/social.png) no-repeat top left;
            // transition: background-position .05s linear;

            a {
                display: block;
                width: @social-icon-dim;
                height: @social-icon-dim;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        .twitter {
            left: 0 * (@social-icon-dim * 1.5);
            .sprite-twitter_grey;
            &:hover {
                .sprite-twitter;
            }
        }

        .gplus {
            left: 1 * (@social-icon-dim * 1.5);
            .sprite-googleplus_grey;
            &:hover {
                .sprite-googleplus;
            }
        }
        
        .email {
            left: 2 * (@social-icon-dim * 1.5);
            .sprite-email_grey;
            &:hover {
                .sprite-email;
            }
        }

    } 
}
