@import "normalize";
@import "global";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'minion-pro', serif;
    font-size: 20px;
    color: @base03;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'myriad-pro', sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a {
    color: @red;
    text-decoration: none;
    padding: 2px;

    &:hover {
        color: darken(@red, 15%);
        .transition(color, 0.15s, linear);
    }
}

footer {
    font-family: 'myriad-pro', sans-serif;
    text-align: center;
    padding: 1em;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-weight: bold;
}

.container_12 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

header {

    a {
        &:hover {
            background-color: transparent;
            color: @base03;
        }
        color: @base03;
    }

    .top_nav_bar {

        font-family: 'myriad-pro', sans-serif;

        a {
            font-size: 1em;
            font-weight: 300;
            color: rgb(255, 255, 255);
            text-decoration: none;
            display: block;
            text-align: center;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        .projects {
            left: 0;
            a {
                .nav_button(@green);
            }
        }

        .writing {
            left: 200px;
            a {
                .nav_button(@orange);
            }
        }

        .github {
            left: 400px;
            a {
                .nav_button(@blue);
            }
        }

        .resume {
            left: 600px;
            a {
                .nav_button(@magenta);
            }
        }
    }
}

.home {
    text-align: center;
}

.about {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.doc {

    padding-bottom: 1em;

    .title {
        font-size: 2em;
    }

}

.project h1 a {
    color: @green;
    &:hover {
        color: darken(@green, 15%);
    }
}

.writing h1 a {
    color: @orange;
    &:hover {
        color: darken(@orange, 15%);
    }
}

.doc_detail {

    .twitter-share-button {
        float: right;
        display: block;
        margin-top: 10px;
    }
    
    .date {
        color: @base1;
        border-bottom: 1px solid @base1;
        margin-bottom: 1em;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    p {
        line-height: 1.3em;
        margin-bottom: 1.3em;
    }

    ul {
        margin-left: 2em;
        list-style-type: square;
        margin-bottom: 1em;
    }

    code {
        font-family: 'source-code-pro';
        font-size: 0.7em;
        color: @base01;
        background-color: @base3;
        border: 1px solid @base2;
        border-radius: 2px;
        padding: 0 3px;
    }
}

